<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" beStrictAboutOutputDuringTests="false" failOnWarning="false" colors="true">
    <testsuites>
        <testsuite name="The basic project test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
