
a {
  color: #9595aa;
}

a:hover {
  color: #5d83a3;
  text-decoration: underline;
}

body {
  background-color: #080808;
  color: #eee;
}

.navbar {
  background-color: #1f1f1f;
}

.carousel-item {
  height: 500px;
}

.carousel-item-1 {
  background: linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)), url('/assets/images/schwimmbad.jpg') center/cover no-repeat;
}

.carousel-item-2 {
  background: linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)), url('/assets/images/kinder-schwimmen.jpg') center/cover no-repeat;
}

.carousel-item .container {
  padding-inline: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 576px) {
  .carousel-item .container {
    padding-inline: 4rem;
  }
}

@media (min-width: 992px) {
  .carousel-item .container {
    padding-inline: 5rem;
  }
}

#kontakt a[href^="https://wa.me/"] svg {
  height: 2em;
  width: auto;
  vertical-align: middle;
  display: inline-block;
}

.footer {
  background-color: #121212;
  color: #aaa;
}

.footer h5 {
  color: #fff;
}

.footer a:hover {
  color: #0d6efd;
}
