body {
  background-color: #080808;
  color: #eee;
}

.navbar {
  background-color: #1f1f1f;
}

.carousel-item {
  height: 400px;
}

.carousel-item .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-color: #121212;
  color: #aaa;
}

.footer h5 {
  color: #fff;
}

.footer a:hover {
  color: #0d6efd;
}
